<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @will.user %>
</p>

<p>
  <strong>Client:</strong>
  <%= @will.client %>
</p>

<p>
  <strong>Spouse:</strong>
  <%= @will.spouse %>
</p>

<p>
  <strong>Spouse name:</strong>
  <%= @will.spouse_name %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @will.relationship %>
</p>

<p>
  <strong>Spouse executor:</strong>
  <%= @will.spouse_executor %>
</p>

<p>
  <strong>Second executor:</strong>
  <%= @will.second_executor %>
</p>

<p>
  <strong>Second executor name:</strong>
  <%= @will.second_executor_name %>
</p>

<p>
  <strong>Second executor city:</strong>
  <%= @will.second_executor_city %>
</p>

<p>
  <strong>Alternate executor:</strong>
  <%= @will.alternate_executor %>
</p>

<p>
  <strong>Alternate executor name:</strong>
  <%= @will.alternate_executor_name %>
</p>

<p>
  <strong>Alternate executor city:</strong>
  <%= @will.alternate_executor_city %>
</p>

<p>
  <strong>Alternate executor country:</strong>
  <%= @will.alternate_executor_country %>
</p>

<p>
  <strong>Children:</strong>
  <%= @will.children %>
</p>

<p>
  <strong>Spouse guardian:</strong>
  <%= @will.spouse_guardian %>
</p>

<p>
  <strong>Alternate guardian:</strong>
  <%= @will.alternate_guardian %>
</p>

<p>
  <strong>Alternate guardian address:</strong>
  <%= @will.alternate_guardian_address %>
</p>

<p>
  <strong>Gift conditions:</strong>
  <%= @will.gift_conditions %>
</p>

<p>
  <strong>Gift conditions age:</strong>
  <%= @will.gift_conditions_age %>
</p>

<p>
  <strong>Specific gifts:</strong>
  <%= @will.specific_gifts %>
</p>

<p>
  <strong>Estate residue:</strong>
  <%= @will.estate_residue %>
</p>

<p>
  <strong>Wipeout clause:</strong>
  <%= @will.wipeout_clause %>
</p>

<p>
  <strong>Wipeout distribution:</strong>
  <%= @will.wipeout_distribution %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @will.pets %>
</p>

<p>
  <strong>Pet details carers:</strong>
  <%= @will.pet_details_carers %>
</p>

<p>
  <strong>Additional clauses:</strong>
  <%= @will.additional_clauses %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @will.notes %>
</p>

<p>
  <strong>Draft created:</strong>
  <%= @will.draft_created %>
</p>

<p>
  <strong>Draft sent to client:</strong>
  <%= @will.draft_sent_to_client %>
</p>

<p>
  <strong>Client approval:</strong>
  <%= @will.client_approval %>
</p>

<p>
  <strong>Final version sent to client:</strong>
  <%= @will.final_version_sent_to_client %>
</p>

<p>
  <strong>Payment received:</strong>
  <%= @will.payment_received %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @will.completed %>
</p>

<%= link_to 'Edit', edit_will_path(@will) %> |
<%= link_to 'Back', wills_path %>
