<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @client.surname %>
</p>

<p>
  <strong>Title:</strong>
  <%= @client.title %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @client.date_of_birth %>
</p>

<p>
  <strong>Employment status:</strong>
  <%= @client.employment_status %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @client.marital_status %>
</p>

<p>
  <strong>Maiden name:</strong>
  <%= @client.maiden_name %>
</p>

<p>
  <strong>Number of dependents:</strong>
  <%= @client.number_of_dependents %>
</p>

<p>
  <strong>Dependents names ages:</strong>
  <%= @client.dependents_names_ages %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @client.nationality %>
</p>

<p>
  <strong>Planned retirement age:</strong>
  <%= @client.planned_retirement_age %>
</p>

<p>
  <strong>Smoker:</strong>
  <%= @client.smoker %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @client.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @client.address_2 %>
</p>

<p>
  <strong>Town:</strong>
  <%= @client.town %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @client.post_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @client.country %>
</p>

<p>
  <strong>Preferred tel:</strong>
  <%= @client.preferred_tel %>
</p>

<p>
  <strong>Home telephone:</strong>
  <%= @client.home_telephone %>
</p>

<p>
  <strong>Mobile telephone:</strong>
  <%= @client.mobile_telephone %>
</p>

<p>
  <strong>Best time:</strong>
  <%= @client.best_time %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Children under age:</strong>
  <%= @client.children_under_age %>
</p>

<p>
  <strong>Employment permanent:</strong>
  <%= @client.employment_permanent %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @client.occupation %>
</p>

<p>
  <strong>Sick pay benefit:</strong>
  <%= @client.sick_pay_benefit %>
</p>

<p>
  <strong>User:</strong>
  <%= @client.user %>
</p>

<p>
  <strong>Controlling director:</strong>
  <%= @client.controlling_director %>
</p>

<p>
  <strong>Shareholding:</strong>
  <%= @client.shareholding %>
</p>

<p>
  <strong>Year1 profit:</strong>
  <%= @client.year1_profit %>
</p>

<p>
  <strong>Year2 profit:</strong>
  <%= @client.year2_profit %>
</p>

<p>
  <strong>Year3 profit:</strong>
  <%= @client.year3_profit %>
</p>

<p>
  <strong>Accountant details:</strong>
  <%= @client.accountant_details %>
</p>

<p>
  <strong>Annual income:</strong>
  <%= @client.annual_income %>
</p>

<p>
  <strong>Annual expenses:</strong>
  <%= @client.annual_expenses %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
