<p id="notice"><%= notice %></p>

<h1>Listing Pensions</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>User</th>
      <th>Loa signed</th>
      <th>Loa sent to provider</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pensions.each do |pension| %>
      <tr>
        <td><%= pension.client %></td>
        <td><%= pension.user %></td>
        <td><%= pension.loa_signed %></td>
        <td><%= pension.loa_sent_to_provider %></td>
        <td><%= pension.completed %></td>
        <td><%= link_to 'Show', pension %></td>
        <td><%= link_to 'Edit', edit_pension_path(pension) %></td>
        <td><%= link_to 'Destroy', pension, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pension', new_pension_path %>
