<%= form_for(@pension_transfer) do |f| %>
  <% if @pension_transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pension_transfer.errors.count, "error") %> prohibited this pension_transfer from being saved:</h2>

      <ul>
      <% @pension_transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.text_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :loa_signed %><br>
    <%= f.check_box :loa_signed %>
  </div>
  <div class="field">
    <%= f.label :loa_sent_to_provider %><br>
    <%= f.check_box :loa_sent_to_provider %>
  </div>
  <div class="field">
    <%= f.label :completed %><br>
    <%= f.check_box :completed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
