<p id="notice">Thank you for sending us your enquiry. We will be in toch in within the next 24 hours.</p>

<% if user_signed_in? %>
<p>
  <strong>First name:</strong>
  <%= @info.first_name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @info.surname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @info.email %>
</p>

<p>
  <strong>Telephone number:</strong>
  <%= @info.telephone_number %>
</p>

<p>
  <strong>Financial review:</strong>
  <%= @info.financial_review %>
</p>

<p>
  <strong>Estate planning:</strong>
  <%= @info.estate_planning %>
</p>

<p>
  <strong>Investments:</strong>
  <%= @info.investments %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @info.notes %>
</p>
<% end %>

<%= link_to 'Back to Home Page', 'http://lincolndutch.com' %>
